//TYPES IN ALPHABETIC ORDER
//BUG DRAGON ELECTRIC FAYRY FIGHTING FIRE FLYING GHOST GRASS GROUND ICE NORMAL POISON PSYCHIC ROCK STEEL WATER

.bug{
    background-color:#aabb20;
    border:1px solid #aabb20;
    color:whitesmoke;
}

.dragon{
    background-color:#6b3bf2;
    border:1px solid #6b3bf2;
    color:whitesmoke;
}

.electric{
    background-color:#f7cb52;
    border:1px solid #f7cb52;
    color:whitesmoke;
}

.fairy{
    background-color:#f2aef5;
    border:1px solid #f2aef5;
    color:whitesmoke;
}

.fighting{
    background-color:#7e3219;
    border:1px solid #7e3219;
    color:whitesmoke;
}

.fire{
    background-color:#e83e0b;
    border:1px solid #e83e0b;
    color:whitesmoke;
}

.flying{
    background-color:#8695d4;
    border:1px solid #8695d4;
    color:whitesmoke;
}

.ghost{
    background-color:#5d60ab;
    border:1px solid #5d60ab;
    color:whitesmoke;
}

.grass{
    background-color:blue;
    border:1px solid #70c236;
    color:whitesmoke;
}

.ground{
    background-color:#d3b45b;
    border:1px solid #d3b45b;
    color:whitesmoke;
}

.ice{
    background-color:#6bd4f3;
    border:1px solid #6bd4f3;
    color:whitesmoke;
}

.normal{
    background-color:#c4c4c4;
    border:1px solid #c4c4c4;
    color:whitesmoke;
}

.poison{
    background-color:#883f8a;
    border:1px solid #883f8a;
    color:whitesmoke;
}

.psychic{
    background-color:#e9497f;
    border:1px solid #e9497f;
    color:whitesmoke;
}

.rock{
    background-color:#b49d55;
    border:1px solid #b49d55;
    color:whitesmoke;
}

.steel{
    background-color:#9d9cac;
    border:1px solid #9d9cac;
    color:whitesmoke;
}

.water{
    background-color: #3d99f9;
    border:1px solid #3d99f9;
    color:whitesmoke;
}




